/* Dejamos esto vacio*/
body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.8;
    color: #981D3E;
    background-color: #f6f6f6;
	font-size: 15px;
	min-height: 100%;
	background-size: cover;
  }
  /* Especificidad =  001 */
h1,h2 {
    color: #981D3E;
    text-transform: uppercase;
    text-align: left;     
}

main{
	background: rgba(255,255,255,0.8);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	
}
footer{	
	background-color:#555555;
	color: #ffffff;
	text-align: center; 
}