/* Especificidad =  001 */
body{
	display: grid;
	grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
	grid-template-rows: 20% 1fr 15%;
	grid-template-columns: 20% 1fr 15%;
	grid-row-gap: 10px;
}
/* Especificidad =  001 */
footer {
	grid-area: footer;
    align-self: center;
}
/* Especificidad =  001 */
main {
	grid-area: main;
    align-self: center;
    margin: auto;
}
/* specificity = 001 */
nav {
	grid-area: nav;
    align-self: center;
}
/* Especificidad =  001 */
aside {
  grid-area: aside;
}
/* Especificidad =  001 */
header{
    grid-area: header;
	text-align: center;
}

/* Especificidad =  001 */
header,
footer,
article,
nav,
aside {
  margin: 10px;
}